

 table, th, td {
   border: 1px solid black;
 }

.menu {

    padding: 2px;
    margin: 5px;
    width: 30%;
    position: fixed;

}
.menu_item {
  background-color: #9d8e43;
  height:25px;
  font-family: verdana;
  font-size: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
  padding: 15px 0;
}
.menu_item:hover {
  background-color: #b2ad7f;


}
.menu {
  cursor: pointer;
}

body {
  background-color: #429a71;

}
